#errorCatcher Echo
##
## Specifying an encoding of UTF-8 is usually safe, but if your text is 
## actually in Latin-1, then you should replace the string "UTF-8" with "latin-1"
## If you do this, you should also change the 'Content-Type' metadata below.
#encoding UTF-8
##
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Stoic Weather Watch: Current Weather Conditions</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
<style>
body {
    background-color: #000;
    font-family: Arial, Helvetica, sans-serif;
    overflow: auto;
    color: #B0FEF1;
}
h1{
    font-size: x-large;
    font-weight: bold;
    color: #070;
    text-align: center;
    }
h2{
    font-size: medium;
    font-weight: bold;
    color: #3CF;
    text-align: left;
} 
h3{
    font-size: large;
    font-weight: bold;
    color: #040;
    text-align: center;
}
h4{
    font-size: x-large;
    font-weight: bold;
    color: #A00;
    text-align: center;
    }
h5{
    font-size: x-large;
    font-weight: bold;
    color: #F60;
    text-align: center;
    }
img {
    text-align: center;
    max-width: 100%;
    height: auto;
    width: auto;
    padding-bottom: 2%;
}
##wrapper {
    margin: 0 auto;
    max-width: 1465px;
    width: 98%;
    background: #000;
    border-radius: 2px;
    
    }
.section {
    width: 29%;
    float: left;
    margin: 2% 2%;
    text-align: left;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: #056566;
    }
##table {
    text-align: left;
    }
footer {
    background: #056566;
    width: 100%;
    overflow: hidden;
    }
footer p, footer h3 {
    color: #E9FEF3;
    }
footer p a {
    color: #E9FEF3;
    text-decoration: none;
    }
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    }
li {
    display: inline;
    }    
nav ul{
    list-style: none;
    margin: 0;
    padding-left: 7%;
    text-decoration: none;
} 
nav ul li{
    float: left;
    border: 1px solid #056566;
    color: #056566;
    font-family: Arial, Helvetica, sans-serif;
    width: 18%;
    padding: 2px;
    text-decoration: none;
}  
nav ul li a {
    background: #C0D6CB;
    display: block;
    padding: 5px 12px;
    font-weight: bold;
    font-size: x-large;
    color: #056566;
    text-decoration: none;
    text-align: center;
}
nav ul li a:hover, nav ul li.active a {
    background-color: #E9FEF3;
    color: #058D8F;
}
.banner img {
    width: 100%;
    text-align: center;
    border-top: 1px solid #C0D6CB;
    border-bottom: 1px solid #C0D6CB;
}
.banner {
    width: 100%;
    text-align: center;
}
.clearfix {
    clear: both;
}
.left-col {
    width: 55%;
    float: left;
    margin: -2% 1% 1% 1%;
}
.sidebar {
    width: 40%;
    float: right;
    margin: 1%;
    text-align: center;
    }
.therapy {
    float: left;
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 1%;
    }

/*-------------MEDIA!-------------*/
@media screen and (max-width: 478px) {
    body {
        font-size: 13px;
        }
}
@media screen and (max-width: 740px) {
    nav {
        width: 98%;
        margin-bottom: 10px;
    }
    nav ul{
        list-style: none;
        margin: 0 auto;
        padding-left: 0;
    }
    nav ul li {
        text-align: center;
        margin-left: 0 auto;
        width: 100%;
       
    }
    nav ul li a {
    padding: 8px 0;
    }
    .left-col {
        width: 100%;
    }
    .sidebar {
        width: 100%;
    }
    .section {
        float: left;
        width: 100%;
        margin: 0;       
    }
}
</style>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body>
  <div id="wrapper">
        <center>
             <h4>Stoic Weather Watch</h4>
</center>
        <h1>Current Conditions</h1>
      <h4>$current.dateTime</h4>
        
      <div class="section">
         <div id="stats_group">

        <div class="stats">
          <div class="stats_header">
            <h2><strong>Current Readings</strong></h2>
          </div>

          <table>
            <tbody>
              <tr>
                <td bgcolor="#222222"  class="stats_label">Outside Temperature</td>
                <td bgcolor="#222222" class="stats_data">$current.outTemp</td>
              </tr>
              <tr>
                <td class="stats_label">Barometer</td>
                <td class="stats_data">$current.barometer</td>
              </tr>
              <tr>
                <td bgcolor="#222222" class="stats_label">Barometer Trend ($trend.time_delta.hour.format("%.0f"))</td>
                <td bgcolor="#222222" class="stats_data">$trend.barometer </td>
              </tr>
              <tr>
                <td class="stats_label">Relative Humidity</td>
                <td class="stats_data">$current.HumidityFARS</td>
              </tr>
              <tr>
                <td bgcolor="#222222" class="stats_label">Dewpoint</td>
                <td bgcolor="#222222" class="stats_data">$current.dewpointFARS</td>
              </tr>
              <tr>
                <td class="stats_label">Wind</td>
                <td class="stats_data">$current.windSpeed from $current.windDir ($current.windDir.ordinal_compass)</td>
              </tr>
              
           
              <tr>
                <td bgcolor="#222222" class="stats_label">Wind Gust</td>
                <td bgcolor="#222222" class="stats_data">$current.windGust from $current.windGustDir ($current.windGustDir.ordinal_compass)</td>
              </tr>
              <tr>
                <td class="stats_label">Rain Rate</td>
                <td class="stats_data">$current.rainRate</td>
              </tr>
              <tr>
                <td bgcolor="#222222" class="stats_label">placeholder</td>
                <td bgcolor="#222222" class="stats_data">12345.6 unit</td>
              </tr>
              <tr>
                <td class="stats_label">placeholder</td>
                <td class="stats_data">12345.6 unit</td>
              </tr>
              <tr>
                <td bgcolor="#222222" class="stats_label">placeholder</td>
                <td bgcolor="#222222" class="stats_data">12345.6 unit</td>
              </tr>
              <tr>
                <td class="stats_label">placeholder</td>
                <td class="stats_data">12345.6 unit</td>
              </tr>
            </tbody>
          </table>
        </div>

        <p>&nbsp;</p>
<div class="stats">
          <div class="stats_header">
            <h2><strong>Inside</strong></h2>
          </div>

          <table>
            <tbody>
              <tr>
                <td bgcolor="#222222"  class="stats_label">Temperature</td>
                <td bgcolor="#222222" class="stats_data">$current.inTemp</td>
              </tr>
              <tr>
                <td class="stats_label">Relative Humidity</td>
                <td class="stats_data">$current.HumidityHouse1</td>
              </tr>
              <tr>
                <td bgcolor="#222222" class="stats_label">Barometer</td>
                <td bgcolor="#222222" class="stats_data">$current.barometerHouse</td>
              </tr>
             
            </tbody>
          </table>
        </div>

        <p>&nbsp;</p>
        <div class="stats">
          <div class="stats_header">
          <h2><strong>Since Midnight </strong></h2></div>
          <table>
            <tbody>
              <tr>
                <td bgcolor="#222222" class="stats_label">
                  High Temperature
                </td>
                <td bgcolor="#222222" class="stats_data">
                  $day.TempFARS.max at $day.TempFARS.maxtime
                </td>
              </tr>
              <tr>
                <td  class="stats_label">
                
                  Low Temperature
                </td>
                <td class="stats_data">
                  $day.TempFARS.min at $day.TempFARS.mintime</td>
              </tr>
              <tr>
                <td bgcolor="#222222" class="stats_label">
                  High Humidity
                </td>
                <td bgcolor="#222222" class="stats_data">
                  $day.HumidityFARS.max at $day.HumidityFARS.maxtime
                </td>
              </tr>
              
              <tr>
                <td class="stats_label">
                  High Dewpoint
                </td>
                <td class="stats_data">
                  $day.dewpointFARS.max at $day.dewpointFARS.maxtime
                </td>
              </tr>
              <tr>
                <td bgcolor="#222222" class="stats_label">
                  Low Dewpoint
                </td>
                <td bgcolor="#222222" class="stats_data">
                  $day.dewpointFARS.min at $day.dewpointFARS.mintime
                </td>
              </tr>
              <tr>
                <td class="stats_label">
                  Low Humidity
                </td>
                <td class="stats_data">
                  $day.HumidityFARS.min at $day.HumidityFARS.mintime
                </td>
              </tr>
              
              <tr>
                <td bgcolor="#222222" class="stats_label">
                  High Barometer
                </td>
                <td bgcolor="#222222" class="stats_data">
                  $day.barometer.max at $day.barometer.maxtime
                </td>
              </tr>
              <tr>
                <td class="stats_label">
                  Low Barometer
                </td>
                <td class="stats_data">
                  $day.barometer.min at $day.barometer.mintime
                </td>
              </tr>
              <tr>
                <td bgcolor="#222222" class="stats_label">Today's Rain</td>
                <td bgcolor="#222222" class="stats_data">$day.rainSmallTip.sum</td>
              </tr>
              <tr>
                <td class="stats_label">High Rain Rate</td>
                <td class="stats_data">$day.rainRate.max at $day.rainRate.maxtime</td>
              </tr>
              <tr>
                <td bgcolor="#222222" class="stats_label">
                  Highest Wind Mean
                </td>
                <td bgcolor="#222222" class="stats_data">
                     Not yet
                </td>
              </tr>
              <tr>
                <td class="stats_label">
                  Highest Wind Gust
                </td>
                <td class="stats_data">
                     Not yet
                </td>
              </tr>
              <tr>
                <td bgcolor="#222222" class="stats_label">
                  Mean Wind
                </td>
                <td bgcolor="#222222" class="stats_data">
                   not yet
                </td>
              </tr>
              <tr>
                <td class="stats_label">
                  RMS Wind
                </td>
                <td class="stats_data">
                     not yet
                </td>
              </tr>

              <tr>
                <td bgcolor="#222222" class="stats_label">
                  Vector Average Speed
                </td>
                <td bgcolor="#222222" class="stats_data">
                    not yet
                </td>
              </tr>
              <tr>
                <td class="stats_label">
                  Vector Average Direction
                </td>
                <td class="stats_data">
                    not yet
                </td>
              </tr>

              
            </tbody>
          </table>
          <p>&nbsp;</p>
            <div class="stats_header">
          <h2><strong>Since Midnight Inside </strong></h2></div>
          <table>
            <tbody>
              <tr>
                <td bgcolor="#222222" class="stats_label">
                  High Temperature
                </td>
                <td bgcolor="#222222" class="stats_data">
                  99.0C at 03:00:00
                </td>
              </tr>
              <tr>
                <td  class="stats_label">
                
                  Low Temperature
                </td>
                <td class="stats_data">
                  -19.0C at 03:00:00</td>
              </tr>
              <tr>
                <td bgcolor="#222222" class="stats_label">
                  High Humidity
                </td>
                <td bgcolor="#222222" class="stats_data">
                  100% at 01:35:00
                </td>
              </tr>
              
              <tr>
                <td class="stats_label">
                  High Dewpoint
                </td>
                <td class="stats_data">
                  1299.5 hPa at 04:35:00
                </td>
              </tr>
              <tr>
                <td bgcolor="#222222" class="stats_label">
                  Low Dewpoint
                </td>
                <td bgcolor="#222222" class="stats_data">
                  -6.3C at 01:45:00
                </td>
              </tr>
              <tr>
                <td class="stats_label">
                  Low Humidity
                </td>
                <td class="stats_data">
                  50.0 %
                </td>
              </tr>             
            </tbody>
          </table>
          <p>&nbsp;</p>
            <div class="stats_header">
          <h2><strong>Solar Almanac</strong></h2></div>
          <table>
            <tbody>
              <tr>
                <td bgcolor="#222222" class="stats_label">
                  Start civil Twilight
                </td>
                <td bgcolor="#222222" class="stats_data">
                  $almanac(horizon=-6).sun(use_center=1).rise
                </td>
              </tr>
              <tr>
                <td  class="stats_label">
                
                  Sunrise
                </td>
                <td class="stats_data">
                  $almanac.sun.rise.string($sun_None)</td>
              </tr>
              <tr>
                <td bgcolor="#222222" class="stats_label">
                  Transit
                </td>
                <td bgcolor="#222222" class="stats_data">
                  $almanac.sun.transit
                </td>
              </tr>
              <tr>
                <td class="stats_label">
                  Sunset
                </td>
                <td class="stats_data">$almanac.sun.set.string($sun_None)</td>
              </tr>
              <tr>
                <td bgcolor="#222222" class="stats_label">
                  End civil Twilight
                </td>
                <td bgcolor="#222222" class="stats_data">
                  $almanac(horizon=-6).sun(use_center=1).set
                </td>
              </tr>
              <tr>
                <td class="stats_label">         
                  Azimuth
                </td>
                <td class="stats_data">
                  $("%.1f&deg;" % $almanac.sun.az)
                </td>
              </tr> 
              <tr>
                <td bgcolor="#222222" class="stats_label">         
                  Altitude
                </td>
                <td bgcolor="#222222" class="stats_data">
                  $("%.1f&deg;" % $sun_altitude)
                </td>
              </tr> 
              <tr>
                <td class="stats_label">         
                  Right Ascension
                </td>
                <td class="stats_data">
                  $("%.1f&deg;" % $almanac.sun.ra)
                </td>
              </tr> 
              <tr>
                <td bgcolor="#222222" class="stats_label">         
                  Declination
                </td>
                <td bgcolor="#222222" class="stats_data">
                  $("%.1f&deg;" % $almanac.sun.dec)
                </td>
              </tr>     
              #if $almanac.next_equinox.raw < $almanac.next_solstice.raw
                ## The equinox is before the solstice. Display them in order.
                <tr>
                  <td class="stats_label">Equinox</td>
                  <td class="stats_data">$almanac.next_equinox</td>
                </tr>
                <tr>
                  <td bgcolor="#222222" class="stats_label">Solstice</td>
                  <td bgcolor="#222222" class="stats_data">$almanac.next_solstice</td>
                </tr>
                #else
                ## The solstice is before the equinox. Display them in order.
                <tr>
                  <td class="stats_label">Solstice</td>
                  <td class="stats_data">$almanac.next_solstice</td>
                </tr>
                <tr>
                  <td bgcolor="#222222" class="stats_label">Equinox</td>
                  <td bgcolor="#222222" class="stats_data">$almanac.next_equinox</td>
                </tr>
                #end if      
                                  
            </tbody>
          </table>
          <p>&nbsp;</p>
            <div class="stats_header">
          <h2><strong>Lunar Almanac</strong></h2></div>
          <table>
            <tbody>
              
              <tr>
                <td  bgcolor="#222222" class="stats_label">                
                  Rise
                </td>
                <td bgcolor="#222222" class="stats_data">
                  $almanac.moon.rise</td>
              </tr>
              <tr>
                <td class="stats_label">
                  Transit
                </td>
                <td class="stats_data">
                  $almanac.moon.transit
                </td>
              </tr>
              
              <tr>
                <td bgcolor="#222222" class="stats_label">
                  Set
                </td>
                <td bgcolor="#222222" class="stats_data">
                  $almanac.moon.set
                </td>
              </tr>
              
              <tr>
                <td class="stats_label">         
                  Azimuth
                </td>
                <td class="stats_data">
                  $("%.1f&deg;" % $almanac.moon.az)
                </td>
              </tr> 
              <tr>
                <td bgcolor="#222222" class="stats_label">         
                  Altitude
                </td>
                <td bgcolor="#222222" class="stats_data">
                  $("%.1f&deg;" % $almanac.moon.alt)
                </td>
              </tr> 
              <tr>
                <td class="stats_label">         
                  Right Ascension
                </td>
                <td class="stats_data">
                  $("%.1f&deg;" % $almanac.moon.ra)
                </td>
              </tr> 
              <tr>
                <td bgcolor="#222222" class="stats_label">         
                  Declination
                </td>
                <td bgcolor="#222222" class="stats_data">
                  $("%.1f&deg;" % $almanac.moon.dec)
                </td>
              </tr>     
              <tr>
                <td class="stats_label">         
                  Full Moon
                </td>
                <td class="stats_data">
                  03/01/2018 4:51:20
                </td>
              </tr> 
              <tr>
                <td bgcolor="#222222" class="stats_label">         
                  New Moon
                </td>
                <td bgcolor="#222222" class="stats_data">
                  03/17/2018 6:11:34
                </td>
              </tr>        
                  <tr>
                <td class="stats_label">         
                  Phase
                </td>
                <td class="stats_data">
                  Waxing Crescent
                </td>
              </tr>  
              <tr>
                <td bgcolor="#222222" class="stats_label">         
                  
                </td>
                <td bgcolor="#222222" class="stats_data">
                  19% full
                </td>
              </tr>                  
            </tbody>
          </table>
        </div> <!--End class "stats" -->

        <p>&nbsp;</p>
       </div> 
         <!--End class "stats_group" -->


</div>
        <div class="section">
          <h4>Text2</h4>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
     
        </div>
        <div class="section">
             <h4>text3</h4>
             <p>&nbsp;</p>
             <p>&nbsp;</p>
             <p>&nbsp;</p>
             <p>&nbsp;</p>
             <p>&nbsp;</p>
             <p>&nbsp;</p>
             <p>&nbsp;</p>
             <p>&nbsp;</p>
             <p>&nbsp;</p>
             <p>&nbsp;</p>
             <p>&nbsp;</p>
             <p>&nbsp;</p>
             <p>&nbsp;</p>
             <p>&nbsp;</p>
             <p>&nbsp;</p>
             <p>&nbsp;</p>
             <p>&nbsp;</p>
             <p>&nbsp;</p>
             <p>&nbsp;</p>
             <p>&nbsp;</p>
             <p>&nbsp;</p>
             <p>&nbsp;</p>
             <p>&nbsp;</p>
             <p>&nbsp;</p>
             <p>&nbsp;</p>
             <p>&nbsp;</p>
             <p>&nbsp;</p>
             <p>&nbsp;</p>
             <p>&nbsp;</p>
             <p>&nbsp;</p>
             <p>&nbsp;</p>
             <p>&nbsp;</p>
             <p>&nbsp;</p>
             <p>&nbsp;</p>
             <p>&nbsp;</p>
             <p>&nbsp;</p>
             <p>&nbsp;</p>
             <p>&nbsp;</p>
             <p>&nbsp;</p>
             <p>&nbsp;</p>
             <p>&nbsp;</p>
             <p>&nbsp;</p>
             <p>&nbsp;</p>
             <p>&nbsp;</p>
             <p>&nbsp;</p>
             <p>&nbsp;</p>
             <p>&nbsp;</p>
             <p>&nbsp;</p>
             <p>&nbsp;</p>
             <p>&nbsp;</p>
             <p>&nbsp;</p>
             <p>&nbsp;</p>
             <p>&nbsp;</p>
             <p>&nbsp;</p>
             <p>&nbsp;</p>
             <p>&nbsp;</p>
             <p>&nbsp;</p>
             <p>&nbsp;</p>
             <p>&nbsp;</p>
             <p>&nbsp;</p>
             <p>&nbsp;</p>
             <p>&nbsp;</p>
             <p>&nbsp;</p>
        </div><br />
        
      <center>
        <h4>Text</h4>     <br />
        
        
        <div id="navbar">
        <input type="button" value="   Current   " onclick="openURL('index.html')" />
        <input type="button" value="    Week     " onclick="openURL('week.html')" />
        <input type="button" value="    Month    " onclick="openURL('month.html')" />
        <input type="button" value="    Year     " onclick="openURL('year.html')" />
        <p>Monthly summary:&nbsp;
        <select NAME=noaaselect onchange="openNoaaFile(value)">
        #for $monthYear in $SummaryByMonth
            <option value="$monthYear">$monthYear</option>
        #end for
        <option selected>-Select month-</option>
        </select>
        <br/>
        Yearly summary:&nbsp;
        <select NAME=noaaselect onchange="openNoaaFile(value)">
        #for $yr in $SummaryByYear
            <option value="$yr">$yr</option>
        #end for
        <option selected>-Select year-</option>
        </select>
        </p>
      </div>
    </div>

      </center>
      


      </div>
      
      

<p style="text-align: center; padding: Opx; color: #FFF7D1;">&#169;</p>
</body>
</html>